{{ define "main" }}
{{$characters := ($.Site.GetPage "character").Pages.ByDate}}
    <div class="columns is-centered my-2">
        <div class="column is-narrow">
            <h2 class="is-title is-h2">{{ .Title }}</h2>
        </div>
    </div>
    {{ if .Params.image }}
    <div class="columns is-centered">
        <div class="column is-narrow box">
            <figure class="mx-0">
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="post-img"/>
            </figure>
        </div>
    </div>
    {{ end }}
    <div class="columns is-centered">
        <div class="column is-8 mx-2">
            {{ .Content }}
        </div>
    </div>
    <div class="columns is-centered is-multiline">
        {{ range $characters }}
            <div class="column is-8 box">
                {{ if .Params.image }}
                    <figure class="image mx-0 my-0">
                        <img src="{{ .Params.image }}" alt=".Params.name" class="post-img">
                    </figure>
                {{ end }}
            </div>
        {{ end }}
    </div>
    <div class="section"></div>
{{ end }}