html { 
    background-image: url(../img/bg.png); 
    background-repeat: repeat;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

.logo h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    color: white;
}

#logo {
    min-height: 6rem;
}

.graphic-header {
    background: url("../img/banner.jpg") no-repeat top center fixed;
    -webkit-background-size: 100vw;
    -moz-background-size: 100vw;
    -o-background-size: 100vw;
    background-size: 100vw;
    width: 100%;
    min-height: 6rem;
}

.navbar-burger.is-large { 
    transform: scale(2) translateX(-33%); 
    height: auto;
}

footer{
    padding: .5rem .5rem 1rem !important;
}

.text {
    max-width: 600px;
}

@media screen and (max-device-width: 769px) {
    .text {
        padding-left: 4%;
        padding-right: 4%;
    }
}

.post-img { 
    width: 100vh;
}

.comic-img {
    width: 100vh;
}

@media screen and (max-device-width: 1024px) {
    .post-image, .graphic-header {
        background-attachment: scroll;
        height: auto;
    }
}